/* DISPLAY UTILITY STYLES
   ----------------------------- */

.block {
	display: block!important;
}
.inline-block {
	display: inline-block!important;
}
.inline {
	display: inline!important;
}
.display-flex {
	display: flex;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-column-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
